{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    
    <div class="p-3 m-3">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col" style= "background-color: black;">
            
                <img
                src= "{% static "/images/MyLogin.jpg" %}"
                alt= "Expensive Watch Image"
                class="" style="height: 150px;">
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center; color:white; border-color: black; background-color: rgb(106, 106, 4)">Create an Account</h3>
            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" style="color:white ; background-color:rgb(106, 106, 4); border-color: black; font-weight: bolder;"
                     
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm" style="color:white ; background-color:rgb(106, 106, 4); border-color: black; font-weight: bolder;"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm" style="color:white ; background-color:rgb(106, 106, 4); border-color: black; font-weight: bolder;"
                    value="{{values.phone}}"
                    placeholder="9876543210"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" style="color:white ; background-color:rgb(106, 106, 4); border-color: black; font-weight: bolder;"
                    placeholder="abc@gmail.com">
                </div>

 
                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" style="color:white ; background-color:rgb(106, 106, 4); border-color: black; font-weight: bolder;" >
                </div>

                <!--Checkme button-->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" style="color: rgb(106, 106, 4); background-color:white; border-color: black; font-weight: bolder;" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12" style="background-color: rgb(106, 106, 4); border-color: black;font-weight: bolder;">Create an account</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}